<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Content/js/jquery-1.10.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
        $(window).load(function () {
            // Animate loader off screen

            setTimeout(function () {
                $(".se-pre-con").fadeOut("slow");
            }, 3000);
        });

    </script>
    @*<script src="~/Content/js/facebook.js"></script>*@
    
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/LoginLayoutCustomStyles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/loader.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 398327, hjsv: 5 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <style>
        .account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.logo
{
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px 0px 10px 35px;
    background-position: 0px -4px;
    position: relative;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    background-color: #6E329D;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook
{
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}
.btn-google
{
    background-color: #454545;
    color: #fff;
    font-weight:bold;
}

    </style>



</head>
<body>
    <div class="se-pre-con"></div>
    <script>
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            if (response.status === 'connected') {
                @*var LoggedOutFromApplication = '@Session["LoggedOutFromApplication"]';

                // Logged into your app and Facebook.
                if (LoggedOutFromApplication === "True") {

                }
                else {*@
                    testAPI();
                //}
                
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log ' +
                  'into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log ' +
                  'into Facebook.';
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '582017025328479',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });



            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };


        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {

            FB.api('/me', { locale: 'en_US', fields: 'name,first_name,last_name, email' }, function (response) {

                document.getElementById('status').innerHTML =
                  'Thanks for logging in, ' + response.name + response.email + '!';

                $.ajax({
                    url: '@Url.Action("LoginWithFB", "Authentication")',
                    type: 'POST',
                    dataType: 'json',
                    cache: false,
                    data: { 'firstName': response.first_name, 'lastName': response.last_name, 'email': response.email },
                    success: function (response) {
                        if (response.result == 'Redirect') {
                            //redirecting to main page from here for the time being.
                            window.location = response.url;
                        }

                    },
                    error: function () {
                        alert('Error occured');
                    }
                });



            });
        }




        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function logout() {
            var isFBAuthenticated = '@Session["isFBAuthenticated"]';
            
            if (isFBAuthenticated === "True") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FBLogout", "Authentication")',
                    success: function (data) {
                        if (data.result === 'Redirect') {
                            FB.Logout(function (response) {
                                alert('fb logout');
                                window.location = data.url;
                            });
                            //FB.logout();
                            //alert('fb logout');
                            //window.location = data.url;
                        }
                    },
                    error: function () {
                        alert("Error in logging out with FB");
                    }
                });

            } else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Logout", "Authentication")',
                    success: function (data) {
                        if (data.result === 'Redirect') {
                            window.location = data.url;
                        }
                    },
                    error: function () {

                        alert("Error in logging out");

                    }
                });
            }
        }
    </script>
    <div id="wrapper">

        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/Content/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/Content/js/custom.js"></script>
   

</body>
</html>

